### 🐘 Java & Gradle ###
.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/resources/gradle-wrapper.properties

### 💻 IDE & OS ###
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

### 🔐 Secrets ###
*.pem
.env
