### 🐘 Java & Gradle ###
.gradle/
build/
bin/
*.class
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### 💻 IDE & OS ###
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
.gemini/

### 🔐 Secrets ###
*.pem
.env

### 📦 Build Artifacts ###
gradle-8.7/
out/